section#proyectos {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
/* ESTE ES EL CONTENEDOR GENERAL QUE ENGLOBA A LOS PROYECTOS  */
.galeria-proyectos {
    display: flex;
    flex-wrap: wrap;
    /*gap: 1rem;*/
    justify-content: center;

}
/* COMO ES EL CONTENEDOR DEL PROYECTO EN GENERAL */
.proyectos {
    margin: 10px;
    padding: 15px;
    background-color: rgb(53,52, 52); /* color de fondo de la atrjeta */
    border: 1px solid #ddd;
    border-radius: 5px;
    /* padding: 15px; */
    width: 300px; /*ajusta el ancho segun la cantidad de proyectos a mostrar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    /*text-align: center;*/
}

/* IMAGEN DEL PROYECTO */
.proyectos img {  /* aqui se observa que una vez que utiliza una clase,puedo poner al lado la etiqueta html que quiero que se modifique el estilo */
    width: 100%;
    height: auto;/* Ajustar la altura automáticamente */
    max-height: 180px; /* Altura máxima */
    border-radius: 5px;
    object-fit: cover;
}
/* TITULO DEL PROYECTO */
.proyectos h3{
    margin-top: 10px;
    font-size: 18px;

}

/* DESCRIPCION DEL PROYECTO */
.proyectos p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* BOTONES ENLACES ANCOR */
.proyectos a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

/* BOTONES DE LOS PROYECTOS */
.proyectos a:hover{
    background-color: #0056b3;
}

/*listo el modo default,ahora procedemos a hacerlo responsivo con las medias querias */

/*celular pantallas pequeñas hasta 767 px  CELULAR*/
@media (max-width: 767px){
    .proyectos{
        width: 100%;/* 100% de ancho en pantallas pequeñas */
    }
    .galeria-proyectos {
        flex-direction: column; /* Elementos uno debajo del otro */
    }
}

/*tableta pantallas medianas entre 768 y 1023 px TABLET*/
@media (min-width: 768px) and (max-width: 1023px){
    .proyectos{
        width: 50%;
    }
}

/*escritorio pantallas anchas  1024px y superiores px DESKTOP*/
@media (min-width: 1024px){
    .proyectos{
        width: 40%;/* 33% de ancho en pantallas grandes */
    }
   
}