.SOBREMI{
    display: flex;
    justify-content: center; /*esto centra el elemento*/

}
.container-SOBREMI{
    display: flex;
    width: 50%;/*ancho*/
    padding: 2rem;
    margin-top: 5rem;/*margen a lo alto*/
    line-height: 2.5rem;/*espaciado entre los parrafos del texto*/
    font-size: large;
    color: rgb(199, 226, 226);
    gap: 5rem;
    align-items: center;
}
img.perfil{
    border-radius: 50%;
}
/* MEDIAS QUERIES */


/*celular pantallas pequeñas hasta 767 px*/
@media (max-width: 767px) {
    .container-SOBREMI{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        line-height: 2.5rem;
        font-size: small;
        flex-direction: column;
    }
}
/*tableta pantallas medianas entre 768 y 1023 px*/
@media (min-width: 767px) and (max-width: 1023px){
    .container-SOBREMI{
        width: 75%;
    }

}
    

/*escritorio pantallas anchas  1024px y superiores px*/
@media (min-width: 1024px){
    .container-SOBREMI{
        width: 100%;
    }
}