/*definiciendo variables de color en css */
:root{
    --body-bg-color:rgb(43,43,70);
    --text-color: white;
    --colorh1-color:rgb(215,211,211);
    --fondo-proyectos: rgb(60,43,70); /*agrego en la clase 5 flexbox */

    
}
/*Aplicando variable crada en el root al body de nuestra web*/
/*Remplaze el body con el uso de variables css*/ 
body{
    display: flex;
    flex-direction: column; /* agregado en la clase 4 */
    background:var(--body-bg-color) ;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2{
    color:var(--colorh1-color);
    flex-direction: row;
}
/*titulo del header*/
.titulo{
    display: flex;
    margin: 3rem;

}
/*barra de navegacion*/
.navigation {
    display: flex; /*Utiliza Flexbox para organizar los elementos*/
    gap: 3rem; /*Establece un espacio de 3 rem entre cada elemento*/
    list-style: none; /*Elimina los puntos de lista predeterminados*/
    justify-content: flex-end; /*Alinea los elementos hijod al final*/
    margin: 0 3rem;/*Establece un margen de 0 en la parte superior*/
}

/*Enlaces de la barra de navegacion configurados como di fueran*/
.navigation li {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #f0eaea1a;
    box-shadow: 0 0 0.5rem rgb(0, 0 , 0.5);
}

/*estilo de los enlaces de la barra de navegacion*/
a {
    text-decoration: none; /*Elimina el subrayado predeterminado*/
    color: rgb(215, 211, 211); /*Establece el color del texto*/
}

/*Todo lo que contiene el main*/
.main-container {
    display: flex;
    flex-direction: column;
}

/*MEDIA QUERIES AGRUPADOS */

/*celular pantallas pequeñas hasta 767 px*/
@media (max-width: 767px){
    .titulo{
        flex-direction: center;
    }
    .navigation{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

/*tableta pantallas medianas entre 768 y 1023 px*/
@media (min-width: 768px) and (max-width: 1023px){
    .titulo{
        justify-content: center;
    }
    .navigation{
        gap: 2rem;
        justify-content: center;
    }
}

/*escritorio pantallas anchas  1024px y superiores px*/
@media (min-width: 1024px){
    .titulo{
        justify-content: flex-start;
    }
    .navigation{
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
}